[submodule "thirdparty/liblcf"]
	path = thirdparty/liblcf
	url = https://github.com/EasyRPG/liblcf
[submodule "thirdparty/EasyRPGPlayer"]
	path = thirdparty/EasyRPGPlayer
	url = https://github.com/EasyRPG/Player
	branch = 0-7-0-stable
