## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

## CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake
*.ninja
build/*

## Proprietary Testdata not to be included in the repository
data/*
playground/*
templates/project/Gameboy_Emulator.r3proj
templates/project/RPG_RT.exe
templates/project/RPG_RT.ini
templates/project/ultimate_rt_eb.dll
project/*
*.gb
