## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

## CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake
*.ninja
build/*

## Proprietary Testdata not to be included in the repository
playground/*
data/templates/project/RPG_RT.exe
data/templates/project/ultimate_rt_eb.dll
/project/
*.gb

## Packaged Version
package/

## completed build files in the main folder
easyrpg-player
lcf2xml

## VS Code Counter Addon Folder
.VSCodeCounter

## Profiling Data
temp/*.out

## Log files
*log.txt

## ImGUI
imgui.ini